<!-- <app-header></app-header> -->
<div class="container-fluid p-0">
    <app-header></app-header>
    <!--------------seg1(img)-------->
    <div class="seg1-img">
        <div class="container-xxl">
            <app-search></app-search>
        </div>
    </div>
    <!--------------seg1(img)end-------->
    <!--------------seg2(info img)------>
    <div class="container-xxl">
        <div class="col-12 row p-0">
            <div class="col-12 col-lg-6 mt-5">
                <h2>We offer real estate throughout Armenia</h2>
                <p class=" mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button> View announcements</button>
            </div>
            <div class="col-12 col-lg-6 pe-0">
                <img class="img-info w-100 mt-5" src="../../../assets/Keys-to-New-House.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container-xxl ">
        <div class="col-12 row ">
            <div class="col category-div" *ngFor="let item of [0,1,2,3]">
                <div class="  p-0">
                    <a href="">
                        <img src="../../../assets/apartments.jpg" alt="" sizes="" srcset="" width="100px"> apartment</a>
                </div>
            </div>
        </div>
    </div>
    <!--------------seg2(info img)end------>
    <div class="container-xxl">
        <h3 class="text-center mt-5"> Best offer</h3>
        <!-- <div class="col row">
      <div class="col option-offer">
        <img src="../../../assets/apartments.jpg" alt="" width="100%">
        <div><button>Rent</button>
          <button>Sale</button>
          <button>Daily wage</button>
        </div>
        <h4> 150.000 AMD per day</h4>
        <h5>3-room apartment on Sayat Nova avenue</h5>
        <div>
          <span>3 room</span>
          <span>220 m2</span>
        </div>
      </div>
      <div class="col option-offer">
        <img src="../../../assets/apartments.jpg" alt="" width="100%">
        <div><button>Rent</button>
          <button>Sale</button>
          <button>Daily wage</button>
        </div>
        <h4> 150.000 AMD per day</h4>
        <h5>3-room apartment on Sayat Nova avenue</h5>
        <div>
          <span>3 room</span>
          <span>220 m2</span>
        </div>
      </div>
      <div class="col option-offer">
        <img src="../../../assets/apartments.jpg" alt="" width="100%">
        <div><button>Rent</button>
          <button>Sale</button>
          <button>Daily wage</button>
        </div>
        <h4> 150.000 AMD per day</h4>
        <h5>3-room apartment on Sayat Nova avenue</h5>
        <div>
          <span>3 room</span>
          <span>220 m2</span>
        </div>
      </div>
    </div> -->
        <div class="col row">
            <div class="col-12 col-lg-4 m-0 p-0 mb-2" *ngFor="let item of [0,1,2,3,4,5]">
                <div class="m-3  option-offer ">
                    <img src="../../../assets/apartments.jpg" alt="" width="100%">
                    <div class="heart">

                        <a href=""><svg style="color: blue;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                      </svg></a>
                        <div>
                            <a href=""><svg  xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg></a></div>
                    </div>
                    <div><button>Rent</button>
                        <button>Sale</button>
                        <button>Daily wage</button>
                    </div>
                    <h4 style="margin-inline-start: 5px;"> 150.000 AMD per day</h4>
                    <h5 style="margin-inline-start: 5px;">3-room apartment on Sayat Nova avenue</h5>
                    <div style="margin-inline-start: 5px;">
                        <p style="color: gray;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg> City: Yorovan, Sayat-Nova 15, 40 apt. </p>
                        <span style="margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                        </svg> 3 room</span>
                        <span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-input-cursor-text" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2z"/>
                          <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z"/>
                        </svg>220 m<sup>2</sup></span>
                    </div>
                </div>
            </div>
            <!-- <div class="col option-offer">
        <img src="../../../assets/apartments.jpg" alt="" width="100%">
        <div><button>Rent</button>
          <button>Sale</button>
          <button>Daily wage</button>
        </div>
        <h4> 150.000 AMD per day</h4>
        <h5>3-room apartment on Sayat Nova avenue</h5>
        <div>
          <span>3 room</span>
          <span>220 m2</span>
        </div>
      </div>
      <div class="col option-offer">
        <img src="../../../assets/apartments.jpg" alt="" width="100%">
        <div><button>Rent</button>
          <button>Sale</button>
          <button>Daily wage</button>
        </div>
        <h4> 150.000 AMD per day</h4>
        <h5>3-room apartment on Sayat Nova avenue</h5>
        <div>
          <span>3 room</span>
          <span>220 m2</span>
        </div>
      </div> -->
        </div>
    </div>

</div>
<app-footer></app-footer>