.header-text {
    position: absolute;
    margin-top: 300px;
    margin-left: 145px;
    color: white;
}

.selection {
    position: absolute;
    margin-top: 400px;
    margin-left: 20px;
    color: white;
}

.seg1-img {
    background-image: url('../../../assets/a-farmhouse-style-living-room-with-plenty-of-rustic-artwork--5af6b93d81a21ba97e7c0cc2f43e7247.avif');
    height: 32rem;
}

select {
    border-radius: 3px;
    border: none;
    width: 80%;
    height: 35px;
    color: gray;
}

.input-search {
    border-radius: 3px;
    border: none;
    width: 47%;
    height: 35px;
}

button {
    border: none;
    color: white;
    background-color: #497173;
    border-radius: 8px;
    margin-top: 12px;
    width: 80px;
    height: 30px;
}

.img-info {
    height: 355px;
    width: 565px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
}

.infotext {
    margin-top: 60px;
}

.category {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    margin-right: 10px;
}

.category-div {
    position: absolute;
    margin-top: -37px;
}

.option-offer {
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}