<!-- <div class="container-fluid header">
    <div class="container-xxl">
        <div class="col-12 row justify-content-center">
            <div class="col row">
                <div class="col">
                    <a href="tel:+376 60 540 540"><i class="fa-solid fa-phone"></i>+376 60 540 540</a>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="col">
                    <a href="mailto:info@reaity.am"><i class="fa-regular fa-envelope"></i>info@reaity.am</a>
                </div>
            </div>
            <div class="col-6 align-items-center align-self-center">logo</div>
            <div class="col row">
                <div class="col">
                    <a href="annoucement" target="_blank" rel="noopener noreferrer">Annoucement</a>
                </div>
                <div class="col">
                    <a href="Contact Us">Contact Us</a>
                </div>
                <div class="col">
                    <a href="favorite"><i class="fa-regular fa-heart"></i>Favorite</a>
                </div>
            </div>
        </div>
    </div>
</div>
https://ng-bootstrap.github.io/#/components/collapse/examples
-->
<!-- https://ng-bootstrap.github.io/#/components/collapse/examples -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
	<div class="container-xxl">
		<!-- <a class="navbar-brand">Responsive navbar</a> -->

		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<!-- Step 2: Add the ngbCollapse directive to the element below. -->
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav text-light col-12 row">
				<!-- <li class="nav-item active">

					<a class="nav-link" (click)="isMenuCollapsed = true">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="isMenuCollapsed = true">Examples</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="isMenuCollapsed = true">About</a>
				</li> -->
        <div class="justify-content-center col-12 row ">
          <div class="col row">
              <div class="col">
                  <a href="tel:+376 60 540 540"><i class="fa-solid fa-phone"></i>+376 60 540 540</a>
                  <i class="fa-solid fa-user"></i>
              </div>
              <div class="col">
                  <a href="mailto:info@reaity.am"><i class="fa-regular fa-envelope"></i>info@reaity.am</a>
              </div>
          </div>
          <div class="col-5 align-items-center align-self-center" style="text-align: center;"><p>logo</p></div>
          <div class="col row">
              <div class="col">
                  <a href="annoucement" target="_blank" rel="noopener noreferrer">Annoucement</a>
              </div>
              <div class="col">
                  <a href="Contact Us">Contact Us</a>
              </div>
              <div class="col">
                  <a href="favorite"><i class="fa-regular fa-heart"></i>Favorite</a>
              </div>
          </div>
      </div>
			</ul>
		</div>
	</div>
</nav>
