.header-text {
    color: white;
}


button {
  border: none;
  color: white;
  background-color: #497173;
  border-radius: 8px;
  margin-top: 12px;
  width: 80px;
  height: 30px;
}

.input-search {
  border-radius: 3px;
  border: none;
  // width: 47%;
  height: 35px;
}
