<div class="p-5"></div>
<div class="p-5"></div>
<div class="p-5"></div>
<div class="header-text pb-4">
  <h2>DISCOVER THE BEST IN ONE PLACE</h2>
</div>

<div class="ms-0 ">
  <div class="col-12 row ms-0 mat-h6">
    <div class="col">
      <app-dropdown [title]="'Status'"></app-dropdown>
      <!-- <select>
                            <option ng-repeat="x in names">Status</option>
                        </select> -->
    </div>
    <div class="col">
      <!-- <select>
                            <option ng-repeat="x in names">Furniture type</option>
                        </select> -->
      <app-dropdown [title]="'Furniture type'"></app-dropdown>
    </div>
    <div class="col">
      <!-- <select>
                            <option ng-repeat="x in names">State</option>
                        </select> -->
      <app-dropdown [title]="'State'"></app-dropdown>
    </div>
    <div class="col">
      <!-- <select>
                            <option ng-repeat="x in names">Community</option>
                        </select> -->
      <app-dropdown [title]="'Community'"></app-dropdown>
    </div>
    <div class="col">
      <!-- <select>
                            <option ng-repeat="x in names">Rooms</option>
                        </select> -->
      <app-dropdown [title]="'Rooms'"></app-dropdown>
    </div>
    <!-- <div class="row col "> -->
      <div class="col">
        <input class="input-search" type="number" name="" id="" placeholder="Min price (AMD)">
      </div>
      <div class="col">
        <input class="input-search"  type="number" name="" id="" placeholder="Max price (AMD)">
      </div>
    <!-- </div> -->
  </div>

  <div class="col-12 row ms-0 mt-2">
    <div class="col-2 text-decoration-underline"><a href=""> Advanced search</a></div>
    <div class="col-8"></div>
    <div class="col-2 d-flex justify-content-end"><button type="button" class="btn px-5">Search</button></div>
  </div>
</div>
