<div class="p-5"></div>
<div class="p-5"></div>
<div class="p-5"></div>
<div class="header-text">
    <h2>DISCOVER THE BEST IN ONE PLACE</h2>
</div>

<div class="">
    <div class="col-lg-12 row">
        <div class="col-lg-2 col-6">
            <app-dropdown [title]="'Status'"></app-dropdown>
            <!-- <select>
                            <option ng-repeat="x in names">Status</option>
                        </select> -->
        </div>
        <div class="col-lg-2 col-6">
            <!-- <select>
                            <option ng-repeat="x in names">Furniture type</option>
                        </select> -->
            <app-dropdown [title]="'Furniture type'"></app-dropdown>
        </div>
        <div class="col-lg-2 col-6">
            <!-- <select>
                            <option ng-repeat="x in names">State</option>
                        </select> -->
            <app-dropdown [title]="'State'"></app-dropdown>
        </div>
        <div class="col-lg-2 col-6">
            <!-- <select>
                            <option ng-repeat="x in names">Community</option>
                        </select> -->
            <app-dropdown [title]="'Community'"></app-dropdown>
        </div>
        <div class="col-lg-2 col-6">
            <!-- <select>
                            <option ng-repeat="x in names">Rooms</option>
                        </select> -->
            <app-dropdown [title]="'Community'"></app-dropdown>
        </div>
        <div class="row col ">
            <!-- <div class="col"> -->
            <input class="input-search col me-1" type="number" name="" id="" placeholder="Min price (AMD)">
            <!-- </div> -->
            <!-- <div class="col"> -->
            <input class="input-search col ms-1" type="number" name="" id="" placeholder="Max price (AMD)">
            <!-- </div> -->
        </div>
    </div>

    <div class="col-12 row">
        <div class="col-2"><a href=""> Advanced search</a></div>
        <div class="col-8"></div>
        <div class="col-2 pe-0"><button class="w-100">Search</button></div>
    </div>
</div>