.footer-class {
    background-color: #4b4e61;
    height: 400px;
    margin-top: 60px;
}

h5 {
    color: #b6c5e3;
}

hr {
    color: #b6c5e3;
    border-top: 3px solid;
}

// a {
//     margin-top: 10px;
//     margin-bottom: 10px;
// }